mixin alert-success(time)
    - if (messages.success)
        .message.info
            div(
                class="alert alert-success alert-dismissible "
                show-alert 
                data-time=time
            ) #{messages.success} 
                button(class="btn-close" close-alert)